{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}
<h1>Categories</h1>
<ul>
    <li><a href="all_posts">All</a></li>
    <li><a href="category/Movies">Movies</a></li>
    <li><a href="category/TvShows">Tv Shows</a></li>
    <li><a href="category/Books">Books</a></li>
    <li><a href="category/Comics">Comics</a></li>
    <li><a href="category/AnimeManga">Anime/Manga</a></li>
    <li><a href="category/VideoGames">Video Games</a></li>
    <li><a href="category/Music">Music</a></li>
    <li><a href="category/Podcasts">Podcasts</a></li>
    <li><a href="category/Other">Other</a></li>
</ul>
<h1>Tags</h1>
<ul>
{% for tag in tags %}
  <li><a href="tag/{{ tag[0] }}">{{ tag[0] }}</a></li>
{% endfor %}
</ul>
{% endblock %}
