{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}
{% if comments %}
<h2>Comments - {{ comments[0][5] }}</h2>
{% endif %}
{% if message %}
  <p style="color:red">{{ message }}</p>
{% endif %}
{% for comment in comments %}
  <div class="boxdiv">
    <p class="post_title">{{ comment[0] }}:</p>
    <p class="post_text"> {{ comment[1] }}</p>
    <p> at: {{ comment[2] }}</p>
{% if session.user_id == comment[4] %}
    <form class="formbtn" action="comment/delete/{{ comment[3] }}" method="POST">
    <input type="submit" class="deletebtn" value="delete">
    </form>
{% endif %}
  </div>
{% endfor %}
{% if session.user_id %}
<form class="comment" action="comment" method="POST">
<p>Write a new commnet:</p>
<textarea name="message" rows="10" cols="60" maxlength="250">
</textarea> <br>
<input type="submit" class="button" value="send">
</form>
<p>You are logged in as {{ session.username }}</p>
{% endif %}
{% endblock %}
