{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}
{% if comments %}
<h2>Comment; {{ comments[0][3] }}</h2>
{% endif %}
{% if message %}
    <p style="color:red">{{ message }}</p>
{% endif %}
{% for comment in comments %}
    <p style="border: 1px solid black"> {{ comment[0] }}:
    <br> {{ comment[1] }}
    <br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp at: {{ comment[2] }}</p>
{% endfor %}
{% if session.user_id %}
<p>Write a new commnet:</p>
<form action="comment" method="POST">
<textarea name="message" rows="10" cols="60">
</textarea> <br>
<input type="submit" value="send">
</form>
<br>
<p>You are logged in as {{ session.username }}</p>
{% endif %}
{% endblock %}
