{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}
<title>New Theory</title>
<div class="boxdiv">
<h2>Create a new theory post:</h2>
<form action="create" class="comment"  method="POST">
<p><input type="text" name="title" placeholder="Title for your theory"></p>
<textarea name="message" maxlength="900" rows="15" cols="80" placeholder="Type your theory here">
</textarea> <br>
<label for="category">Choose a category:</label>
<select name="category" id="category">
  <option value="All">All</option>
  <option value="Movies">Movies</option>
  <option value="TvShows">Tv Shows</option>
  <option value="Books">Books</option>
  <option value="Comics">Comics</option>
  <option value="AnimeManga">Anime/Manga</option>
  <option value="VideoGames">Video Games</option>
  <option value="Music">Music</option>
  <option value="Podcasts">Podcasts</option>
  <option value="Other">Other</option>
</select>
Tags: <textarea name="tags" maxlength="50" rows="2" cols="15" placeholder="these are all separate tags">
</textarea>
<input class="button" type="submit" value="share post">
</form>
</div>
<p>{{ error }}<p>
{% endblock %}
