{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}
<h1>Posts</h1>
<h2>Shared Theories</h2>
{% if message %}
    <p> There are no theories on the site yet.</p>
{% else %}
{% for post in posts %}
    <p style="border: 1px solid black">Title: {{ post[1] }}
    <br>text: {{ post[2] }}
    <br>&nbsp&nbsp&nbsp&nbsp&nbspCreated at: {{ post[3] }}
    <a href="/comments/{{ post[0] }}">comments</a>
{% endfor %}
{% endif %}
{% if session.user_id %}
    <p>You are logged in as {{ session.username }}</p>
{% endif %}
{% endblock %}
