{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}
<h2>All Shared Theories</h2>
{% if message %}
    <p> There are no theories on the site yet.</p>
{% endif %}
{% for post in posts %}
  <div class="boxdiv">
    <p class="post_title">{{ post[2] }}</p>
    <br class="post_text">{{ post[3] }}</br>
    <br>Created at: {{ post[4] }} by {{ post[0] }}
    <a href="/comments/{{ post[1] }}">comments</a>
    {{ post[5] }} likes
{% if session.user_id %}
    <form class="formbtn" action="/like/{{ post[1] }}" method="POST">
    <input type="submit" class="button" value="like">
    </form>
{% endif %}
  </div>
{% endfor %}
{% if session.user_id %}
    <p>You are logged in as {{ session.username }}</p>
{% endif %}
{% endblock %}
