{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}
<h1>Search</h1>
<form action="result" method="GET">
<input type="text" name="query">
<input type="submit" class="button" value="Search">
</form>
<p>{{ header }}</p>
{% if message %}
    <p>{{ message }}</p>
{% endif %}
{% for post in posts %}
  <div class="boxdiv">
    <p class="post_title">{{ post[3] }}</p>
    <br class="post_text">{{ post[4] }}</br>
    <br>Created at: {{ post[5] }} by {{ post[0] }}
    <a href="/comments/{{ post[2] }}">comments</a>
    {{ post[5] }} likes
{% if session.user_id == post[1] %}
    <form class="formbtn" action="delete/{{ post[2] }}" method="POST">
        <input type="submit" class="deletebtn" value="delete">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
{% endif %}
  </div>
{% endfor %}
{% if session.user_id %}
    <p>You are logged in as {{ session.username }}</p>
{% endif %}
{% endblock %}
